*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(70, 68, 68);
    
}
ul{
position: relative;
transform: skewY(-15deg);

}
ul li{
    position: relative;
    list-style: none;
    width: 200px;
    background: rgb(10, 68, 102);
    padding: 15px;
    z-index: var(--i);
    transition: 00.5s;
}
ul li:hover{
    background: blue;
    transform: translateX(50px);
}
ul li:hover::before{
    background: green;
}
ul li:hover::before{
    background: green;
}
ul li::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0;
    left: -40px;
    background: red;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}
ul li::after{
    content: '';
    position: absolute;
    top:-40px ;
    left: 0;
    width: 100%;
    background: red;
    height: 40px;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}
ul li a{
    text-decoration: none;
    color: rgb(170, 168, 164);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
ul li:hover a{
    color: antiquewhite;
}
ul li:last-child::after{
    box-shadow: -120px 120px 20px black;
}